NET "cs_dly<0>" LOC="A8";
NET "cs_dly<1>" LOC="B8";
NET "cs_dly<2>" LOC="C8";
NET "cs_dly<3>" LOC="D8";
NET "cs_dly<4>" LOC="AU8";
NET "cs_dly<5>" LOC="AV8";
NET "cs_dly<6>" LOC="AW8";
#NET "LCT_RST" LOC="AT5";
NET "mx_oe" LOC="K1";
NET "rs_dly" LOC="AA37";
NET "activeFeb_cfgDone" LOC="U2";
NET "alct_sn" LOC="AT6";
# NET "AMU_GRN" LOC="AH2";
NET "AsyncAdb" LOC="T1";
NET "bstr1_subaddr" LOC="P2";
NET "bxn_wrFifo<0>" LOC="Y1";
NET "bxn_wrFifo<1>" LOC="AA4";
NET "bxn_wrFifo<2>" LOC="AA3";
NET "ccb_brcstm<0>" LOC="N4";
NET "ccb_brcstm<1>" LOC="N3";
NET "ccb_brcstm<2>" LOC="N2";
NET "ccb_brcstm<3>" LOC="N1";
NET "clk_dly" LOC="W38";
NET "clk40sh<0>" LOC="Y39";
NET "clk40sh<1>" LOC="Y38";
NET "clk80<0>" LOC="W37";
NET "clk80<1>" LOC="W36";
# NET "CLOCK_EN" LOC="U5";
NET "clkp" LOC="AW19";
NET "daqData<0>" LOC="AA2";
NET "daqData<1>" LOC="AA1";
NET "daqData<2>" LOC="AB5";
NET "daqData<3>" LOC="AB4";
NET "daqData<4>" LOC="AB3";
NET "daqData<5>" LOC="AB2";
NET "daqData<6>" LOC="AB1";

NET "dduSpec_LastFr" LOC="AC2";
NET "din_dly" LOC="W39";
NET "dout_dly<0>" LOC="A7";
NET "dout_dly<1>" LOC="B7";
NET "dout_dly<2>" LOC="C7";
NET "dout_dly<3>" LOC="D7";
NET "dout_dly<4>" LOC="AU7";
NET "dout_dly<5>" LOC="AV7";
NET "dout_dly<6>" LOC="AW7";
# NET "DOUT_STR" LOC="P1";
NET "ext_inject_trig" LOC="R4";
NET "amu" LOC="V5";
NET "keyp<0>" LOC="V2";
NET "keyp<1>" LOC="V1";
NET "keyp<2>" LOC="W4";
NET "keyp<3>" LOC="W3";
NET "keyp<4>" LOC="W2";
NET "keyp<5>" LOC="W1";
NET "keyp<6>" LOC="Y2";
NET "quality<0>" LOC="V4";
NET "quality<1>" LOC="V3";
NET "valid" LOC="U1";
# NET "FEB0_GRN" LOC="AE4";
# NET "FEB1_GRN" LOC="AE3";
# NET "FEB2_GRN" LOC="AE2";
# NET "FEB3_GRN" LOC="AE1";
# NET "FEB4_GRN" LOC="AF4";
# NET "FEB5_GRN" LOC="AF3";
# NET "FEB6_GRN" LOC="AF2";
# NET "HALT_RED" LOC="AJ3";
# NET "INVPAT_RED" LOC="AJ4";
NET "jstate<0>" LOC="AC1";
NET "jstate<1>" LOC="AD4";
NET "jstate<2>" LOC="AD2";
NET "jstate<3>" LOC="AD1";
NET "L1A_SyncAdb" LOC="R3";
# NET "L1A_OK_GRN" LOC="AH3";
NET "lctSpec_FirstFr" LOC="AC5";

NET "lct0_<0>"  LOC="C21";
NET "lct0_<1>"  LOC="A22";
NET "lct0_<2>"  LOC="B22";
NET "lct0_<3>"  LOC="C22";
NET "lct0_<4>"  LOC="D22";
NET "lct0_<5>"  LOC="E22";
NET "lct0_<6>"  LOC="A23";
NET "lct0_<7>"  LOC="B23";
NET "lct0_<8>"  LOC="C23";
NET "lct0_<9>"  LOC="D23";
NET "lct0_<10>" LOC="E23";
NET "lct0_<11>" LOC="A24";
NET "lct0_<12>" LOC="B24";
NET "lct0_<13>" LOC="C24";
NET "lct0_<14>" LOC="D24";
NET "lct0_<15>" LOC="A25";
NET "lct0_<16>" LOC="B25";
NET "lct0_<17>" LOC="C25";
NET "lct0_<18>" LOC="D25";
NET "lct0_<19>" LOC="A26";
NET "lct0_<20>" LOC="B26";
NET "lct0_<21>" LOC="C26";
NET "lct0_<22>" LOC="D26";
NET "lct0_<23>" LOC="A27";
NET "lct0_<24>" LOC="B27";
NET "lct0_<25>" LOC="C27";
NET "lct0_<26>" LOC="D27";
NET "lct0_<27>" LOC="A28";
NET "lct0_<28>" LOC="B28";
NET "lct0_<29>" LOC="C28";
NET "lct0_<30>" LOC="A29";
NET "lct0_<31>" LOC="B29";
NET "lct0_<32>" LOC="C29";
NET "lct0_<33>" LOC="D29";
NET "lct0_<34>" LOC="A30";
NET "lct0_<35>" LOC="B30";
NET "lct0_<36>" LOC="C30";
NET "lct0_<37>" LOC="D30";
NET "lct0_<38>" LOC="A31";
NET "lct0_<39>" LOC="B31";
NET "lct0_<40>" LOC="C31";
NET "lct0_<41>" LOC="D31";
NET "lct0_<42>" LOC="A32";
NET "lct0_<43>" LOC="B32";
NET "lct0_<44>" LOC="C32";
NET "lct0_<45>" LOC="D32";
NET "lct0_<46>" LOC="A33";
NET "lct0_<47>" LOC="B33";
	           
NET "lct1_<0>"  LOC="C33";
NET "lct1_<1>"  LOC="D33";
NET "lct1_<2>"  LOC="A34";
NET "lct1_<3>"  LOC="B34";
NET "lct1_<4>"  LOC="C34";
NET "lct1_<5>"  LOC="D34";
NET "lct1_<6>"  LOC="A35";
NET "lct1_<7>"  LOC="B35";
NET "lct1_<8>"  LOC="C35";
NET "lct1_<9>"  LOC="D35";
NET "lct1_<10>" LOC="A36";
NET "lct1_<11>" LOC="B36";
NET "lct1_<12>" LOC="B37";
NET "lct1_<13>" LOC="C38";
NET "lct1_<14>" LOC="D39";
NET "lct1_<15>" LOC="D38";
NET "lct1_<16>" LOC="D37";
NET "lct1_<17>" LOC="E39";
NET "lct1_<18>" LOC="E38";
NET "lct1_<19>" LOC="E37";
NET "lct1_<20>" LOC="F39";
NET "lct1_<21>" LOC="F38";
NET "lct1_<22>" LOC="F37";
NET "lct1_<23>" LOC="F36";
NET "lct1_<24>" LOC="G39";
NET "lct1_<25>" LOC="G38";
NET "lct1_<26>" LOC="G37";
NET "lct1_<27>" LOC="G36";
NET "lct1_<28>" LOC="H39";
NET "lct1_<29>" LOC="H38";
NET "lct1_<30>" LOC="H37";
NET "lct1_<31>" LOC="H36";
NET "lct1_<32>" LOC="J39";
NET "lct1_<33>" LOC="J38";
NET "lct1_<34>" LOC="J37";
NET "lct1_<35>" LOC="J36";
NET "lct1_<36>" LOC="K39";
NET "lct1_<37>" LOC="K38";
NET "lct1_<38>" LOC="K37";
NET "lct1_<39>" LOC="K36";
NET "lct1_<40>" LOC="L39";
NET "lct1_<41>" LOC="L38";
NET "lct1_<42>" LOC="L37";
NET "lct1_<43>" LOC="L36";
NET "lct1_<44>" LOC="M39";
NET "lct1_<45>" LOC="M38";
NET "lct1_<46>" LOC="M37";
NET "lct1_<47>" LOC="N39";
	           
NET "lct2_<0>"  LOC="N38";
NET "lct2_<1>"  LOC="N37";
NET "lct2_<2>"  LOC="N36";
NET "lct2_<3>"  LOC="P39";
NET "lct2_<4>"  LOC="P38";
NET "lct2_<5>"  LOC="P37";
NET "lct2_<6>"  LOC="P36";
NET "lct2_<7>"  LOC="R39";
NET "lct2_<8>"  LOC="R38";
NET "lct2_<9>"  LOC="R37";
NET "lct2_<10>" LOC="R36";
NET "lct2_<11>" LOC="T39";
NET "lct2_<12>" LOC="T38";
NET "lct2_<13>" LOC="T37";
NET "lct2_<14>" LOC="T36";
NET "lct2_<15>" LOC="U39";
NET "lct2_<16>" LOC="U38";
NET "lct2_<17>" LOC="U37";
NET "lct2_<18>" LOC="U36";
NET "lct2_<19>" LOC="U35";
NET "lct2_<20>" LOC="V39";
NET "lct2_<21>" LOC="V38";
NET "lct2_<22>" LOC="V37";
NET "lct2_<23>" LOC="V36";
NET "lct2_<24>" LOC="AA36";
NET "lct2_<25>" LOC="AB39";
NET "lct2_<26>" LOC="AB38";
NET "lct2_<27>" LOC="AB37";
NET "lct2_<28>" LOC="AB36";
NET "lct2_<29>" LOC="AB35";
NET "lct2_<30>" LOC="AC39";
NET "lct2_<31>" LOC="AC38";
NET "lct2_<32>" LOC="AC37";
NET "lct2_<33>" LOC="AC36";
NET "lct2_<34>" LOC="AC35";
NET "lct2_<35>" LOC="AD39";
NET "lct2_<36>" LOC="AD38";
NET "lct2_<37>" LOC="AD37";
NET "lct2_<38>" LOC="AD36";
NET "lct2_<39>" LOC="AE39";
NET "lct2_<40>" LOC="AE38";
NET "lct2_<41>" LOC="AE37";
NET "lct2_<42>" LOC="AE36";
NET "lct2_<43>" LOC="AF39";
NET "lct2_<44>" LOC="AF38";
NET "lct2_<45>" LOC="AF37";
NET "lct2_<46>" LOC="AF36";
NET "lct2_<47>" LOC="AG39";

NET "lct3_<0>"  LOC="AG38";
NET "lct3_<1>"  LOC="AG37";
NET "lct3_<2>"  LOC="AG36";
NET "lct3_<3>"  LOC="AH39";
NET "lct3_<4>"  LOC="AH38";
NET "lct3_<5>"  LOC="AH37";
NET "lct3_<6>"  LOC="AJ39";
NET "lct3_<7>"  LOC="AJ38";
NET "lct3_<8>"  LOC="AJ37";
NET "lct3_<9>"  LOC="AJ36";
NET "lct3_<10>" LOC="AK39";
NET "lct3_<11>" LOC="AK38";
NET "lct3_<12>" LOC="AK37";
NET "lct3_<13>" LOC="AK36";
NET "lct3_<14>" LOC="AL39";
NET "lct3_<15>" LOC="AL38";
NET "lct3_<16>" LOC="AL37";
NET "lct3_<17>" LOC="AL36";
NET "lct3_<18>" LOC="AM39";
NET "lct3_<19>" LOC="AM38";
NET "lct3_<20>" LOC="AM37";
NET "lct3_<21>" LOC="AM36";
NET "lct3_<22>" LOC="AN39";
NET "lct3_<23>" LOC="AN38";
NET "lct3_<24>" LOC="AN37";
NET "lct3_<25>" LOC="AN36";
NET "lct3_<26>" LOC="AP39";
NET "lct3_<27>" LOC="AP38";
NET "lct3_<28>" LOC="AP37";
NET "lct3_<29>" LOC="AP36";
NET "lct3_<30>" LOC="AR39";
NET "lct3_<31>" LOC="AR38";
NET "lct3_<32>" LOC="AR37";
NET "lct3_<33>" LOC="AR36";
NET "lct3_<34>" LOC="AT39";
NET "lct3_<35>" LOC="AT38";
NET "lct3_<36>" LOC="AV36";
NET "lct3_<37>" LOC="AU36";
NET "lct3_<38>" LOC="AW36";
NET "lct3_<39>" LOC="AV35";
NET "lct3_<40>" LOC="AV34";
NET "lct3_<41>" LOC="AU34";
NET "lct3_<42>" LOC="AT34";
NET "lct3_<43>" LOC="AW35";
NET "lct3_<44>" LOC="AV33";
NET "lct3_<45>" LOC="AU33";
NET "lct3_<46>" LOC="AT33";
NET "lct3_<47>" LOC="AW34";
	           
NET "lct4_<0>"  LOC="AV32";
NET "lct4_<1>"  LOC="AU32";
NET "lct4_<2>"  LOC="AT32";
NET "lct4_<3>"  LOC="AW33";
NET "lct4_<4>"  LOC="AV31";
NET "lct4_<5>"  LOC="AU31";
NET "lct4_<6>"  LOC="AT31";
NET "lct4_<7>"  LOC="AW32";
NET "lct4_<8>"  LOC="AV30";
NET "lct4_<9>"  LOC="AU30";
NET "lct4_<10>" LOC="AT30";
NET "lct4_<11>" LOC="AW31";
NET "lct4_<12>" LOC="AW29";
NET "lct4_<13>" LOC="AV29";
NET "lct4_<14>" LOC="AU29";
NET "lct4_<15>" LOC="AW30";
NET "lct4_<16>" LOC="AW28";
NET "lct4_<17>" LOC="AV28";
NET "lct4_<18>" LOC="AU28";
NET "lct4_<19>" LOC="AT29";
NET "lct4_<20>" LOC="AW27";
NET "lct4_<21>" LOC="AV27";
NET "lct4_<22>" LOC="AU27";
NET "lct4_<23>" LOC="AT27";
NET "lct4_<24>" LOC="AW26";
NET "lct4_<25>" LOC="AV26";
NET "lct4_<26>" LOC="AU26";
NET "lct4_<27>" LOC="AT26";
NET "lct4_<28>" LOC="AW25";
NET "lct4_<29>" LOC="AV25";
NET "lct4_<30>" LOC="AU25";
NET "lct4_<31>" LOC="AT25";
NET "lct4_<32>" LOC="AW24";
NET "lct4_<33>" LOC="AV24";
NET "lct4_<34>" LOC="AU24";
NET "lct4_<35>" LOC="AT24";
NET "lct4_<36>" LOC="AV23";
NET "lct4_<37>" LOC="AU23";
NET "lct4_<38>" LOC="AT23";
NET "lct4_<39>" LOC="AR23";
NET "lct4_<40>" LOC="AV22";
NET "lct4_<41>" LOC="AT22";
NET "lct4_<42>" LOC="AR22";
NET "lct4_<43>" LOC="AW23";
NET "lct4_<44>" LOC="AV21";
NET "lct4_<45>" LOC="AU21";
NET "lct4_<46>" LOC="AT21";
NET "lct4_<47>" LOC="AW22";
	           
NET "lct5_<0>"  LOC="AT19";
NET "lct5_<1>"  LOC="AW20";
NET "lct5_<2>"  LOC="AV20";
NET "lct5_<3>"  LOC="AW21";
NET "lct5_<4>"  LOC="AT18";
NET "lct5_<5>"  LOC="AR18";
NET "lct5_<6>"  LOC="AV19";
NET "lct5_<7>"  LOC="AU19";
NET "lct5_<8>"  LOC="AR17";
NET "lct5_<9>"  LOC="AW18";
NET "lct5_<10>" LOC="AV18";
NET "lct5_<11>" LOC="AU18";
NET "lct5_<12>" LOC="AW17";
NET "lct5_<13>" LOC="AV17";
NET "lct5_<14>" LOC="AU17";
NET "lct5_<15>" LOC="AT17";
NET "lct5_<16>" LOC="AW16";
NET "lct5_<17>" LOC="AV16";
NET "lct5_<18>" LOC="AU16";
NET "lct5_<19>" LOC="AT16";
NET "lct5_<20>" LOC="AW15";
NET "lct5_<21>" LOC="AV15";
NET "lct5_<22>" LOC="AU15";
NET "lct5_<23>" LOC="AT15";
NET "lct5_<24>" LOC="AW14";
NET "lct5_<25>" LOC="AV14";
NET "lct5_<26>" LOC="AU14";
NET "lct5_<27>" LOC="AT14";
NET "lct5_<28>" LOC="AW13";
NET "lct5_<29>" LOC="AV13";
NET "lct5_<30>" LOC="AU13";
NET "lct5_<31>" LOC="AT13";
NET "lct5_<32>" LOC="AT11";
NET "lct5_<33>" LOC="AW12";
NET "lct5_<34>" LOC="AV12";
NET "lct5_<35>" LOC="AU12";
NET "lct5_<36>" LOC="AT10";
NET "lct5_<37>" LOC="AW11";
NET "lct5_<38>" LOC="AV11";
NET "lct5_<39>" LOC="AU11";
NET "lct5_<40>" LOC="AT9";
NET "lct5_<41>" LOC="AW10";
NET "lct5_<42>" LOC="AV10";
NET "lct5_<43>" LOC="AU10";
NET "lct5_<44>" LOC="AT8";
NET "lct5_<45>" LOC="AW9";
NET "lct5_<46>" LOC="AV9";
NET "lct5_<47>" LOC="AU9";

# NET "MC_DONE" LOC="AK2";
NET "mc_sn" LOC="AJ1";
# NET "NO_L1A_RED" LOC="AJ2";
# NET "PRETRIG_BLU" LOC="AK4";
# NET "RSRVD_IN0" LOC="T3";
# NET "RSRVD_IN1" LOC="T2";

NET "rsrvd_out<0>" LOC="U4";
NET "rsrvd_out<1>" LOC="U3";
# NET "SEQ_CMD0" LOC="R2";
# NET "SEQ_CMD1" LOC="T4";
NET "seq_seu<0>" LOC="AC4";
NET "seq_seu<1>" LOC="AC3";
NET "settst_dlyp" LOC="AA38";
# NET "SL_CL_DONE" LOC="AK3";
# NET "TCK_GRN" LOC="AG3";
NET "tck2" LOC="M1";
# NET "TDI_GRN" LOC="AG4";
NET "tdi2" LOC="L1";
# NET "TDO_GRN" LOC="AF1";
NET "tdo2" LOC="M3";
# NET "TMS_GRN" LOC="AG1";
NET "tms2" LOC="M2";
NET "tp_strt_ext" LOC="L2";

NET "TP0<0>" LOC="A6";
NET "TP0<1>" LOC="B6";
NET "TP0<2>" LOC="C6";
NET "TP0<3>" LOC="D6";
NET "TP0<4>" LOC="A4";
NET "TP0<5>" LOC="A5";
NET "TP0<6>" LOC="B5";
NET "TP0<7>" LOC="C5";
NET "TP0<8>" LOC="E2";
NET "TP0<9>" LOC="D1";
NET "TP0<10>" LOC="D2";
NET "TP0<11>" LOC="D3";
NET "TP0<12>" LOC = "F2";
NET "TP0<13>" LOC = "F3";
NET "TP0<14>" LOC = "F4";
NET "TP0<15>" LOC = "E1";

NET "TP1<0>" LOC = "AV5";
NET "TP1<1>" LOC = "AW6";
NET "TP1<2>" LOC = "AV6";
NET "TP1<3>" LOC = "AU6";
NET "TP1<4>" LOC = "AW4";
NET "TP1<5>" LOC = "AV4";
NET "TP1<6>" LOC = "AU4";
NET "TP1<7>" LOC = "AW5";
NET "TP1<8>" LOC = "AT3";
NET "TP1<9>" LOC = "AT2";
NET "TP1<10>" LOC = "AT1";
NET "TP1<11>" LOC = "AV3";
NET "TP1<12>" LOC = "AP1";
NET "TP1<13>" LOC = "AR3";
NET "TP1<14>" LOC = "AR2";
NET "TP1<15>" LOC = "AR1";
NET "TP1<16>" LOC = "AN1";
NET "TP1<17>" LOC = "AP4";
NET "TP1<18>" LOC = "AP3";
NET "TP1<19>" LOC = "AP2";
NET "TP1<20>" LOC = "AM1";
NET "TP1<21>" LOC = "AN4";
NET "TP1<22>" LOC = "AN3";
NET "TP1<23>" LOC = "AN2";
NET "TP1<24>" LOC = "AL1";
NET "TP1<25>" LOC = "AM4";
NET "TP1<26>" LOC = "AM3";
NET "TP1<27>" LOC = "AM2";
NET "TP1<28>" LOC = "AK1";
NET "TP1<29>" LOC = "AL4";
NET "TP1<30>" LOC = "AL3";
NET "TP1<31>" LOC = "AL2";

NET "tst_pls" LOC="L4";
 
NET "seq_cmd02" LOC = "R2";
NET "seq_cmd13" LOC = "T4";
NET "dout_bx0"  LOC = "P1";
NET "rsv_in02" LOC = "T3";
NET "rsv_in13" LOC = "T2";

NET "clkp" TNM_NET = "clkp";
TIMESPEC "TS_CLKP" = PERIOD "clkp" 21 ns HIGH 50 %;
NET "tck2" TNM_NET = "tck2";
TIMESPEC "TS_TCK2" = PERIOD "tck2" 21 ns HIGH 50 %;

INST "dll2x/DLL" LOC=DLL0P;
INST "dllsh/DLL" LOC=DLL2P; 

INST "dll2x/clkg"   LOC=GCLKBUF1;
INST "dll2x/clk2xg" LOC=GCLKBUF0;

INST "dllsh/clkg"   LOC=GCLKBUF3;
#INST "dllsh/clk2xg" LOC=GCLKBUF2;

NET "clk2xsh"  MAXDELAY=4.1 ns;
NET "clk2xsh"  USELOWSKEWLINES;
NET "clksh" MAXDELAY=4.1 ns;
NET "clksh"  USELOWSKEWLINES;
