#PINLOCK_BEGIN
#Sat Aug 04 18:11:30 2001
NET "amu" LOC = "U5";
NET "bxn_wrFifo<0>" LOC = "Y2";
NET "bxn_wrFifo<1>" LOC = "W1";
NET "bxn_wrFifo<2>" LOC = "W2";
NET "clk_dly" LOC = "W39";
NET "clk40sh<0>" LOC = "Y39";
NET "clk40sh<1>" LOC = "Y38";
NET "clk80<0>" LOC = "W37";
NET "clk80<1>" LOC = "W36";
NET "clkp" LOC = "AW19";
NET "cs_dly<0>" LOC = "U38";
NET "cs_dly<1>" LOC = "V39";
NET "cs_dly<2>" LOC = "AA36";
NET "cs_dly<3>" LOC = "AB36";
NET "daqData<0>" LOC = "W3";
NET "daqData<1>" LOC = "AA3";
NET "daqData<2>" LOC = "AA4";
NET "daqData<3>" LOC = "Y1";
NET "daqData<4>" LOC = "AB5";
NET "daqData<5>" LOC = "AA1";
NET "daqData<6>" LOC = "AA2";
NET "dduSpec_LastFr" LOC = "AB4";
NET "din_dly" LOC = "V35";
# NET "hard_rst" LOC = "AK2";
NET "keyp<0>" LOC = "V5";
NET "keyp<1>" LOC = "U1";
NET "keyp<2>" LOC = "U2";
NET "keyp<3>" LOC = "W4";
NET "keyp<4>" LOC = "V1";
NET "keyp<5>" LOC = "V2";
NET "keyp<6>" LOC = "V3";
NET "lct0_<0>" LOC = "B25";
NET "lct0_<1>" LOC = "C25";
NET "lct0_<2>" LOC = "D25";
NET "lct0_<3>" LOC = "A26";
NET "lct0_<4>" LOC = "B26";
NET "lct0_<5>" LOC = "C26";
NET "lct0_<6>" LOC = "D26";
NET "lct0_<7>" LOC = "A27";
NET "lct0_<8>" LOC = "B27";
NET "lct0_<9>" LOC = "C27";
NET "lct0_<10>" LOC = "D27";
NET "lct0_<11>" LOC = "A28";
NET "lct0_<12>" LOC = "B28";
NET "lct0_<13>" LOC = "C28";
NET "lct0_<14>" LOC = "A29";
NET "lct0_<15>" LOC = "B29";
NET "lct0_<16>" LOC = "C29";
NET "lct0_<17>" LOC = "D29";
NET "lct0_<18>" LOC = "A30";
NET "lct0_<19>" LOC = "B30";
NET "lct0_<20>" LOC = "C30";
NET "lct0_<21>" LOC = "D30";
NET "lct0_<22>" LOC = "A31";
NET "lct0_<23>" LOC = "B31";
NET "lct0_<24>" LOC = "C31";
NET "lct0_<25>" LOC = "D31";
NET "lct0_<26>" LOC = "A32";
NET "lct0_<27>" LOC = "B32";
NET "lct0_<28>" LOC = "C32";
NET "lct0_<29>" LOC = "D32";
NET "lct0_<30>" LOC = "A33";
NET "lct0_<31>" LOC = "B33";
NET "lct0_<32>" LOC = "C33";
NET "lct0_<33>" LOC = "D33";
NET "lct0_<34>" LOC = "A34";
NET "lct0_<35>" LOC = "B34";
NET "lct0_<36>" LOC = "C34";
NET "lct0_<37>" LOC = "D34";
NET "lct0_<38>" LOC = "A35";
NET "lct0_<39>" LOC = "B35";
NET "lct0_<40>" LOC = "C35";
NET "lct0_<41>" LOC = "D35";
NET "lct0_<42>" LOC = "A36";
NET "lct0_<43>" LOC = "B36";
NET "lct0_<44>" LOC = "B37";
NET "lct0_<45>" LOC = "C38";
NET "lct0_<46>" LOC = "D39";
NET "lct0_<47>" LOC = "D38";
NET "lct1_<0>" LOC = "D37";
NET "lct1_<1>" LOC = "E39";
NET "lct1_<2>" LOC = "E38";
NET "lct1_<3>" LOC = "E37";
NET "lct1_<4>" LOC = "F39";
NET "lct1_<5>" LOC = "F38";
NET "lct1_<6>" LOC = "F37";
NET "lct1_<7>" LOC = "F36";
NET "lct1_<8>" LOC = "G39";
NET "lct1_<9>" LOC = "G38";
NET "lct1_<10>" LOC = "G37";
NET "lct1_<11>" LOC = "G36";
NET "lct1_<12>" LOC = "H39";
NET "lct1_<13>" LOC = "H38";
NET "lct1_<14>" LOC = "H37";
NET "lct1_<15>" LOC = "H36";
NET "lct1_<16>" LOC = "J39";
NET "lct1_<17>" LOC = "J38";
NET "lct1_<18>" LOC = "J37";
NET "lct1_<19>" LOC = "J36";
NET "lct1_<20>" LOC = "K39";
NET "lct1_<21>" LOC = "K38";
NET "lct1_<22>" LOC = "K37";
NET "lct1_<23>" LOC = "K36";
NET "lct1_<24>" LOC = "L39";
NET "lct1_<25>" LOC = "L38";
NET "lct1_<26>" LOC = "L37";
NET "lct1_<27>" LOC = "L36";
NET "lct1_<28>" LOC = "M39";
NET "lct1_<29>" LOC = "M38";
NET "lct1_<30>" LOC = "M37";
NET "lct1_<31>" LOC = "N39";
NET "lct1_<32>" LOC = "N38";
NET "lct1_<33>" LOC = "N37";
NET "lct1_<34>" LOC = "N36";
NET "lct1_<35>" LOC = "P39";
NET "lct1_<36>" LOC = "P38";
NET "lct1_<37>" LOC = "P37";
NET "lct1_<38>" LOC = "P36";
NET "lct1_<39>" LOC = "R39";
NET "lct1_<40>" LOC = "R38";
NET "lct1_<41>" LOC = "R37";
NET "lct1_<42>" LOC = "R36";
NET "lct1_<43>" LOC = "T39";
NET "lct1_<44>" LOC = "T38";
NET "lct1_<45>" LOC = "T37";
NET "lct1_<46>" LOC = "T36";
NET "lct1_<47>" LOC = "U39";
NET "lct2_<0>" LOC = "AC37";
NET "lct2_<1>" LOC = "AC36";
NET "lct2_<2>" LOC = "AC35";
NET "lct2_<3>" LOC = "AD39";
NET "lct2_<4>" LOC = "AD38";
NET "lct2_<5>" LOC = "AD37";
NET "lct2_<6>" LOC = "AD36";
NET "lct2_<7>" LOC = "AE39";
NET "lct2_<8>" LOC = "AE38";
NET "lct2_<9>" LOC = "AE37";
NET "lct2_<10>" LOC = "AE36";
NET "lct2_<11>" LOC = "AF39";
NET "lct2_<12>" LOC = "AF38";
NET "lct2_<13>" LOC = "AF37";
NET "lct2_<14>" LOC = "AF36";
NET "lct2_<15>" LOC = "AG39";
NET "lct2_<16>" LOC = "AG38";
NET "lct2_<17>" LOC = "AG37";
NET "lct2_<18>" LOC = "AG36";
NET "lct2_<19>" LOC = "AH39";
NET "lct2_<20>" LOC = "AH38";
NET "lct2_<21>" LOC = "AH37";
NET "lct2_<22>" LOC = "AJ39";
NET "lct2_<23>" LOC = "AJ38";
NET "lct2_<24>" LOC = "AJ37";
NET "lct2_<25>" LOC = "AJ36";
NET "lct2_<26>" LOC = "AK39";
NET "lct2_<27>" LOC = "AK38";
NET "lct2_<28>" LOC = "AK37";
NET "lct2_<29>" LOC = "AK36";
NET "lct2_<30>" LOC = "AL39";
NET "lct2_<31>" LOC = "AL38";
NET "lct2_<32>" LOC = "AL37";
NET "lct2_<33>" LOC = "AL36";
NET "lct2_<34>" LOC = "AM39";
NET "lct2_<35>" LOC = "AM38";
NET "lct2_<36>" LOC = "AM37";
NET "lct2_<37>" LOC = "AM36";
NET "lct2_<38>" LOC = "AN39";
NET "lct2_<39>" LOC = "AN38";
NET "lct2_<40>" LOC = "AN37";
NET "lct2_<41>" LOC = "AN36";
NET "lct2_<42>" LOC = "AP39";
NET "lct2_<43>" LOC = "AP38";
NET "lct2_<44>" LOC = "AP37";
NET "lct2_<45>" LOC = "AP36";
NET "lct2_<46>" LOC = "AR39";
NET "lct2_<47>" LOC = "AR38";
NET "lct3_<0>" LOC = "AR37";
NET "lct3_<1>" LOC = "AR36";
NET "lct3_<2>" LOC = "AT39";
NET "lct3_<3>" LOC = "AT38";
NET "lct3_<4>" LOC = "AV36";
NET "lct3_<5>" LOC = "AU36";
NET "lct3_<6>" LOC = "AW36";
NET "lct3_<7>" LOC = "AV35";
NET "lct3_<8>" LOC = "AW35";
NET "lct3_<9>" LOC = "AT34";
NET "lct3_<10>" LOC = "AU34";
NET "lct3_<11>" LOC = "AV34";
NET "lct3_<12>" LOC = "AW34";
NET "lct3_<13>" LOC = "AT33";
NET "lct3_<14>" LOC = "AU33";
NET "lct3_<15>" LOC = "AV33";
NET "lct3_<16>" LOC = "AW33";
NET "lct3_<17>" LOC = "AT32";
NET "lct3_<18>" LOC = "AU32";
NET "lct3_<19>" LOC = "AV32";
NET "lct3_<20>" LOC = "AW32";
NET "lct3_<21>" LOC = "AT31";
NET "lct3_<22>" LOC = "AU31";
NET "lct3_<23>" LOC = "AV31";
NET "lct3_<24>" LOC = "AW31";
NET "lct3_<25>" LOC = "AT30";
NET "lct3_<26>" LOC = "AU30";
NET "lct3_<27>" LOC = "AV30";
NET "lct3_<28>" LOC = "AW30";
NET "lct3_<29>" LOC = "AU29";
NET "lct3_<30>" LOC = "AV29";
NET "lct3_<31>" LOC = "AW29";
NET "lct3_<32>" LOC = "AT29";
NET "lct3_<33>" LOC = "AU28";
NET "lct3_<34>" LOC = "AV28";
NET "lct3_<35>" LOC = "AW28";
NET "lct3_<36>" LOC = "AT27";
NET "lct3_<37>" LOC = "AU27";
NET "lct3_<38>" LOC = "AV27";
NET "lct3_<39>" LOC = "AW27";
NET "lct3_<40>" LOC = "AT26";
NET "lct3_<41>" LOC = "AU26";
NET "lct3_<42>" LOC = "AV26";
NET "lct3_<43>" LOC = "AW26";
NET "lct3_<44>" LOC = "AT25";
NET "lct3_<45>" LOC = "AU25";
NET "lct3_<46>" LOC = "AV25";
NET "lct3_<47>" LOC = "AW25";
NET "lctSpec_FirstFr" LOC = "AB1";
NET "mx_oe" LOC = "W38";
NET "quality<0>" LOC = "T1";
NET "quality<1>" LOC = "V4";
NET "rs_dly" LOC = "AA38";
NET "seq_seu<0>" LOC = "AB2";
NET "seq_seu<1>" LOC = "AB3";
NET "settst_dlyp" LOC = "AA39";
NET "tck2" LOC = "K1";
NET "tdi2" LOC = "L2";
NET "tdo2" LOC = "L3";
NET "tms2" LOC = "L4";
NET "valid" LOC = "U4";
#PINLOCK_END
NET "L1A_SyncAdb" LOC = "N4";
NET "dout_dly<0>" LOC = "U37";
NET "dout_dly<1>" LOC = "V38";
NET "dout_dly<2>" LOC = "AB39";
NET "dout_dly<3>" LOC = "AB35";
NET "jstate<0>" LOC = "AC4";
NET "jstate<1>" LOC = "AC5";
NET "jstate<2>" LOC = "AD1";
NET "jstate<3>" LOC = "AD2";
NET "tst_pls" LOC = "AC2";
NET "rsrvd_out<0>" LOC = "T4";
NET "rsrvd_out<1>" LOC = "R2";
#NET "InputEnTP" LOC = "A6";
#NET "l1aTP" LOC = "B6";
#NET "l1awindowTP" LOC = "C6";
NET "ext_inject_trig" LOC = "N3";
NET "activeFeb_cfgDone" LOC = "U3";
NET "AsyncAdb" LOC = "T2";
NET "tp_strt_ext" LOC = "AC3";
NET "alct_sn" LOC = "AH2";
NET "mc_sn" LOC = "AJ1";
NET "ccb_brcstm<0>" LOC = "M1";
NET "ccb_brcstm<1>" LOC = "M2";
NET "ccb_brcstm<2>" LOC = "M3";
NET "ccb_brcstm<3>" LOC = "L1";
NET "bstr1_subaddr" LOC = "N1";
#NET "dout_bx0"      LOC = "N2";
NET "TP0<0>" LOC = "A6";
NET "TP0<1>" LOC = "B6";
NET "TP0<2>" LOC = "C6";
NET "TP0<3>" LOC = "D6";
NET "TP0<4>" LOC = "A4";
NET "TP0<5>" LOC = "A5";
NET "TP0<6>" LOC = "B5";
NET "TP0<7>" LOC = "C5";
NET "TP0<8>" LOC = "E2";
NET "TP0<9>" LOC = "D1";
NET "TP0<10>" LOC = "D2";
NET "TP0<11>" LOC = "D3";
NET "TP0<12>" LOC = "F2";
NET "TP0<13>" LOC = "F3";
NET "TP0<14>" LOC = "F4";
NET "TP0<15>" LOC = "E1";

NET "TP1<0>" LOC = "AV5";
NET "TP1<1>" LOC = "AW6";
NET "TP1<2>" LOC = "AV6";
NET "TP1<3>" LOC = "AU6";
NET "TP1<4>" LOC = "AW4";
NET "TP1<5>" LOC = "AV4";
NET "TP1<6>" LOC = "AU4";
NET "TP1<7>" LOC = "AW5";
NET "TP1<8>" LOC = "AT3";
NET "TP1<9>" LOC = "AT2";
NET "TP1<10>" LOC = "AT1";
NET "TP1<11>" LOC = "AV3";
NET "TP1<12>" LOC = "AP1";
NET "TP1<13>" LOC = "AR3";
NET "TP1<14>" LOC = "AR2";
NET "TP1<15>" LOC = "AR1";
NET "TP1<16>" LOC = "AN1";
NET "TP1<17>" LOC = "AP4";
NET "TP1<18>" LOC = "AP3";
NET "TP1<19>" LOC = "AP2";
NET "TP1<20>" LOC = "AM1";
NET "TP1<21>" LOC = "AN4";
NET "TP1<22>" LOC = "AN3";
NET "TP1<23>" LOC = "AN2";
NET "TP1<24>" LOC = "AL1";
NET "TP1<25>" LOC = "AM4";
NET "TP1<26>" LOC = "AM3";
NET "TP1<27>" LOC = "AM2";
NET "TP1<28>" LOC = "AK1";
NET "TP1<29>" LOC = "AL4";
NET "TP1<30>" LOC = "AL3";
NET "TP1<31>" LOC = "AL2";

NET "seq_cmd02" LOC = "R3";
NET "seq_cmd13" LOC = "R4";
NET "dout_bx0"  LOC = "N2";
NET "rsv_in02" LOC = "P1";
NET "rsv_in13" LOC = "P2";

NET "tck2" TNM_NET = "tck2";
TIMESPEC "TS_tck2" = PERIOD "tck2" 21 ns HIGH 50 %;
NET "clkp" TNM_NET = "clkp";
TIMESPEC "TS_clkp" = PERIOD "clkp" 21 ns HIGH 50 %;

INST "dll2x/DLL" LOC=DLL0P;
INST "dllsh/DLL" LOC=DLL2P; 

INST "dll2x/clkg"   LOC=GCLKBUF1;
INST "dll2x/clk2xg" LOC=GCLKBUF0;

INST "dllsh/clkg"   LOC=GCLKBUF3;
#INST "dllsh/clk2xg" LOC=GCLKBUF2;

NET "clk2xsh"  MAXDELAY=4.1 ns;
NET "clk2xsh"  USELOWSKEWLINES;
NET "clksh" MAXDELAY=4.1 ns;
NET "clksh"  USELOWSKEWLINES;

NET "l1a_ok_grn" LOC = "AJ3";
NET "invpat_red" LOC = "AG4";
NET "halt_red" LOC = "AG1";
NET "tck_grn" LOC = "AF4";
NET "tdo_grn" LOC = "AF2";

